<div class="large-9 columns">
  <h1>Feed</h1>
  <br>

  <dl class="accordion" data-accordion>
    <% @posts.each do |post| %>
      <dd class="accordion-navigation">
        <%= link_to post.title, "#panel#{post.id}" %>
        <%= content_tag :div, id: "panel#{post.id}", class: "content" do %>
          <%= truncate(post.body, :length => 140) %>
          <br>
          <small>last updated on <%= post.updated_at.strftime("%Y-%m-%d at %H:%M") %></small>
          <br>
          <br>
          <%= link_to 'Read More', post, class: "button tiny" %>
          <% if signed_in? %>
            <%= link_to 'Edit', edit_post_path(post), class: "button tiny" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny" %>
          <% end %>
        <% end %>
      </dd>
    <% end %>
  </dl>


  <br>
  <br>
  <% if signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "button small success" %>
  <% end %>
</div>