<div class="large-6 columns">
  <h1>Feed</h1>
  <br>

  <dl class="accordion" data-accordion>
    <% @posts.each do |post| %>
      <dd class="accordion-navigation">
        <%= link_to post.title, "#panel#{post.id}" %>
        <%= content_tag :div, id: "panel#{post.id}", class: "content" do %>
          <%= post.description.to_s %>
          <br>
          <small><%= "Last updated on " + post.updated_at.strftime("%b %d, %Y") %></small>
          <br>
          <br>
          <%= link_to 'Read More', post, class: "secondary button tiny" %>
          <% if signed_in? %>
            <%= link_to 'Edit', edit_post_path(post), class: "secondary button tiny" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "secondary button tiny" %>
          <% end %>
        <% end %>
      </dd>
    <% end %>
  </dl>

  <% if signed_in? %>
    <br>
    <br>
    <%= link_to 'New Post', new_post_path, class: "button small success" %>
  <% end %>
</div>