<div class="large-9 columns">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @post.title %>
  </h1>

  <%= markdown @post.body %>

  <% if signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post), class: "secondary button small" %> |
  <% end %>
  <%= link_to 'Back', root_path, class: "secondary button small" %>
</div>
<div class="large-3 columns right">
  <h3>Recent Posts</h3>
  <% @posts.each do |post| %>
    <%= link_to post.title, "#panel#{post.id}" %>
    <%= content_tag :div, id: "panel#{post.id}", class: "content" do %>
      <small><%= post.created_at.strftime("%b %d, %Y") %></small>
      <br>
      <br>
    <% end %>
  <% end %>
</div>